.header {
    width: 1500px;
    height: 500px;
    background: linear-gradient(120deg, #2D3748, #38B2AC);
    color: #E2E8F0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 2em;
    font-family: 'Courier New', Courier, monospace;
    position: relative;
    text-align: center;
    padding: 20px;
    box-sizing: border-box;
}

.followButton {
    background: #2D3748; /* changed to dark tone */
    color: #E2E8F0; /* contrasting light text */
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.9em;
    font-weight: bold; /* added bold font */
    border-radius: 25px;
    position: absolute;
    bottom: 20px;
    right: 20px;
    cursor: pointer;
    padding: 15px;
    box-sizing: border-box;
    box-shadow: 0px 0px 10px 3px #38B2AC; /* added glow effect */
    transition: all 0.3s ease; /* smooth transition for hover effect */
  }
  